%h1 "Divine Memes"

%div.some{:class => "next_rand_div"}
  %a{ href: "#{@memes_path}/#{@meme.id + 1}" }
    %strong Next

  %a{ href: "#{@memes_path}/#{rand(1..@memes_size)}"}
    %strong Random

%h1 #{@meme.title}
%img{src: url_for(@meme.meme), :class => "meme"}


%a{ href: "/memes/like/#{@meme.id}" }
  %strong
    Like

%h3 Likes: #{@meme.likes}

